* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d1117;
    color: white;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;

  transform: translateX(-50%);

  width: 90%;
  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;

  border: 1px solid rgba(255,255,255,0.08);

  background: rgba(15,15,15,0.75);

  backdrop-filter: blur(14px);

  transition: all 0.3s ease;

  border-radius: 18px;

  z-index: 1000;
}

.navbar.scrolled {
    background: rgba(10, 10, 10, 0.95);
    border-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.4);
    padding: 0.8rem 2rem; 
}

/* LOGO */

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.logo span {
  color: #60a5fa;
}

/* LINKS */

.nav-links {
  display: flex;
  gap: 2rem;

  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #d4d4d4;

  transition: 0.3s ease;
}

.nav-links a:hover {
  color: white;
}

/* CTA */

.cta-btn {
  text-decoration: none;

  background: #2563eb;

  color: white;

  padding: 0.75rem 1.2rem;

  border-radius: 10px;

  transition: 0.3s ease;

}

.cta-btn:hover {
    box-shadow: 5px 7px 7px #0505b1;
}

/* Fixed Space Under Nav */
main {
    padding-top: 120px;
}

.cta-btn:hover {
  transform: translateY(-2px);
}

.hero {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.btn-primary {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
}